<h1>Welcome to the Doctor's Office App</h1>

<div class="container">
  <a href="/viewspecialties" class="btn btn-success">View All Specialties</a>
  <a href="/viewdoctors" class="btn btn-primary">View All Doctors</a>
  <a href="/specialties/new" class="btn btn-danger">Add New Specialty</a>
</div>
