<h1>Welcome to the Doctor's Office App</h1>

<div class="container">
  <a href="/viewdoctors" class="btn btn-success">View All Doctors</a>
  <a href="/doctors/new" class="btn btn-danger">Add New Doctor</a>
</div>
