<form action="/specialties" method="post">
  <div class="form-group">
    <label for="specialty_name">Enter a name for the specialty:</label><br>
    <input name="specialty_name" type="text" required>
  </div>
  <button type="submit" class="btn btn-primary">Add Specialty</button>
  <a href="/" class="btn btn-info">Back</a>
</form>
